yue
!src/yuescript/
build
build.luarocks
spec/outputs
yuescript-*.rock*
!yuescript-dev-1.rockspec
.vs
bin
.tup
tup/*.lua
tup/t/*.lua
src/lua/*.o
src/lua/*.a
src/lua/*.wasm
src/lua/lua
src/lua/luac
doc/docs/.vuepress/public/js/yuescript.js
doc/docs/.vuepress/public/js/yuescript.wasm
