/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #b7ae8f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #f5f7ff

$contentWidth = 900px
